@import '../../../styles/index.scss';

nav {
  .nav-link {
    font-size: 2rem;
  }
  #logoutBtn {
    color: $ink;
  }
  #saveBtn {
    color: $ink;
  }
  .dropdown {
    padding-top: 8px;
    #bellyMenu {
      color: $ink;
      font-size: 1rem;
    }
  }
}