@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Shadows+Into+Light|Uncial+Antiqua&display=swap');

// colors
$bargle: cornsilk;
$google: #de5246;
$ink: #0f0f0a;

// fonts
$font1: 'Libre Baskerville', serif;
$font2: 'Uncial Antiqua', cursive;
$font3: 'Shadows Into Light', cursive;
